@model List<Product>



<h1>Ürünler'e Hoş Geldiniz !</h1>
<h2><a asp-controller="product" asp-action="add">Ürün Eklemek İçin Tıklayın</a>
</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>İsim</th>
            <th>Fiyat</th>
            <th>İşlem</th>
        </tr>
    </thead>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td><a asp-controller="product" asp-action="remove" asp-route-id="@product.Id">Sil</a></td>
            <td><a asp-controller="product" asp-action="update" asp-route-id="@product.Id">Güncelle</a></td>

        </tr>
    }


</table>

